<div id="app-timeout" *ngIf="isTimerOpen">
  <mat-card class="p-0">
    <mat-card-content [perfectScrollbar]>
      <div fxLayout="column" fxFlexAlign="center" class="main">
        <div fxFlex="100" class="pr-1">
          <img src="assets/images/pvims_logo_sm.png" alt="" class="logo" />
        </div>
        <div fxFlex="100" class="pr-1">
          <span>{{'L_TEXT_15' | translate }}</span>
        </div>
        <div fxFlex="100" class="pr-1">
          <span>{{'L_TEXT_16' | translate }}</span>
        </div>
        <div fxFlex="100" class="mt-1">
          <span fxFlex></span>
          <button mat-raised-button color="primary" type="button" (click)="continue()">{{"Continue" | translate }}</button>
        </div>
      </div>      
    </mat-card-content>
  </mat-card>
</div>
