<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="itemForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-1">
        <mat-card-content class="m-1 p-05">
          <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start">
            <div fxFlex="100" class="pr-1" *ngIf="data.metaCategoryId > 0">
              <mat-form-field class="p-8 full-width" appearance="fill">
                <mat-label>{{'Identifier' | translate}}</mat-label>
                <input matInput formControlName="metaFormCategoryGuid" readonly>
              </mat-form-field>
            </div>

            <div fxFlex="100" class="pr-1" *ngIf="data.metaCategoryId > 0">
              <mat-form-field class="p-8 full-width" appearance="fill">
                <mat-label>{{'Table name' | translate}}</mat-label>
                <input matInput formControlName="metaTableName" readonly>
              </mat-form-field>
            </div>

            <div fxFlex="100" class="pr-1" *ngIf="data.metaCategoryId == 0">
              <mat-form-field class="p-8 full-width">
                <mat-label>{{'Table type' | translate }}</mat-label>                    
                <mat-select formControlName="metaTableId" required>
                  <mat-option value="1">Patient</mat-option>
                  <mat-option value="2">Clinical Events</mat-option>
                  <mat-option value="3">Concomitant Conditions</mat-option>
                  <mat-option value="5">Lab Tests</mat-option>
                  <mat-option value="6">Medications</mat-option>
                  <mat-option value="7">Encounters</mat-option>
                </mat-select>               
                <mat-error *ngIf="itemForm.get('metaTableId').hasError('required')">
                  {{'This is a required field' | translate}}
                </mat-error>            
              </mat-form-field>       
            </div>

            <div fxFlex="100" class="pr-1">
              <mat-form-field class="p-8 full-width">
                <mat-label>{{'Category name' | translate }}</mat-label>
                <input matInput formControlName="categoryName" required>
                <mat-hint>{{'Maximum length' | translate}} 150</mat-hint> 
                <mat-error *ngIf="itemForm.get('categoryName').hasError('required')">
                  {{'This is a required field' | translate}}
                </mat-error>            
                <mat-error *ngIf="itemForm.get('categoryName').hasError('maxlength')">
                  {{'Maximum length exceeded' | translate}}
                </mat-error>            
                <mat-error *ngIf="itemForm.get('categoryName').hasError('pattern')">
                  {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space)
                </mat-error>            
              </mat-form-field>        
            </div>

            <div fxFlex="100" class="pr-1">
              <mat-form-field class="p-8 full-width">
                <mat-label>{{'Additional help' | translate }}</mat-label>
                <input matInput formControlName="help">
                <mat-hint>{{'Maximum length' | translate}} 500</mat-hint> 
                <mat-error *ngIf="itemForm.get('help').hasError('maxlength')">
                  {{'Maximum length exceeded' | translate}}
                </mat-error>            
                <mat-error *ngIf="itemForm.get('help').hasError('pattern')">
                  {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space)
                </mat-error>            
              </mat-form-field>        
            </div>
            
            <div fxFlex="100" class="pr-1">
              <mat-form-field class="p-8 full-width">
                <mat-label>{{'Icon' | translate }}</mat-label>
                <mat-select formControlName="icon" [(value)]="viewModel.selectedIcon" required>
                  <mat-select-trigger>
                    <mat-icon>{{ viewModel.selectedIcon }}</mat-icon>
                  </mat-select-trigger>
      
                  <mat-option value="alarm"><mat-icon>alarm</mat-icon> alarm</mat-option>
                  <mat-option value="announcement"><mat-icon>announcement</mat-icon> announcement</mat-option>
                  <mat-option value="archive"><mat-icon>archive</mat-icon> archive</mat-option>
                  <mat-option value="assessment"><mat-icon>assessment</mat-icon> assessment</mat-option>
                  <mat-option value="assistant"><mat-icon>assistant</mat-icon> assistant</mat-option>
                  <mat-option value="attachment"><mat-icon>attachment</mat-icon> attachment</mat-option>
                  <mat-option value="backup"><mat-icon>backup</mat-icon> backup</mat-option>
                  <mat-option value="bookmark"><mat-icon>bookmark</mat-icon> bookmark</mat-option>
                  <mat-option value="bubble_chart"><mat-icon>bubble_chart</mat-icon> bubble_chart</mat-option>
                  <mat-option value="comment"><mat-icon>comment</mat-icon> comment</mat-option>
                  <mat-option value="contacts"><mat-icon>contacts</mat-icon> contacts</mat-option>
                  <mat-option value="data_usage"><mat-icon>data_usage</mat-icon> data_usage</mat-option>
                  <mat-option value="description"><mat-icon>description</mat-icon> description</mat-option>
                  <mat-option value="details"><mat-icon>details</mat-icon> details</mat-option>
                  <mat-option value="event"><mat-icon>event</mat-icon> event</mat-option>
                  <mat-option value="favorite"><mat-icon>favorite</mat-icon> favorite</mat-option>
                  <mat-option value="forum"><mat-icon>forum</mat-icon> forum</mat-option>
                  <mat-option value="group_work"><mat-icon>group_work</mat-icon> group_work</mat-option>
                  <mat-option value="help"><mat-icon>help</mat-icon> help</mat-option>
                  <mat-option value="history"><mat-icon>history</mat-icon> history</mat-option>
                  <mat-option value="home"><mat-icon>home</mat-icon> home</mat-option>
                  <mat-option value="info"><mat-icon>info</mat-icon> info</mat-option>
                  <mat-option value="insert_chart"><mat-icon>insert_chart</mat-icon> insert_chart</mat-option>
                  <mat-option value="insert_invitation"><mat-icon>insert_invitation</mat-icon> insert_invitation</mat-option>
                  <mat-option value="language"><mat-icon>language</mat-icon> language</mat-option>
                  <mat-option value="library_books"><mat-icon>library_books</mat-icon> library_books</mat-option>
                  <mat-option value="message"><mat-icon>message</mat-icon> message</mat-option>
                  <mat-option value="more"><mat-icon>more</mat-icon> more</mat-option>
                  <mat-option value="new_releases"><mat-icon>new_releases</mat-icon> new_releases</mat-option>
                  <mat-option value="note"><mat-icon>note</mat-icon> note</mat-option>
                  <mat-option value="notifications"><mat-icon>notifications</mat-icon> notifications</mat-option>
                  <mat-option value="public"><mat-icon>public</mat-icon> public</mat-option>
                  <mat-option value="publish"><mat-icon>publish</mat-icon> publish</mat-option>
                  <mat-option value="question_answer"><mat-icon>question_answer</mat-icon> question_answer</mat-option>
                  <mat-option value="report"><mat-icon>report</mat-icon> report</mat-option>
                  <mat-option value="schedule"><mat-icon>schedule</mat-icon> schedule</mat-option>
                  <mat-option value="speaker_notes"><mat-icon>speaker_notes</mat-icon> speaker_notes</mat-option>
                  <mat-option value="star"><mat-icon>star</mat-icon> star</mat-option>
                  <mat-option value="work"><mat-icon>work</mat-icon> work</mat-option>
                </mat-select>               
                <mat-error *ngIf="itemForm.get('icon').hasError('required')">
                  {{'This is a required field' | translate}}
                </mat-error>            
              </mat-form-field>       
            </div>
          </div>
        </mat-card-content>
      </div>
      
      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" (click)="submit()">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>