<div style="height: 5px;">
  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>
</div>

<mat-card class="p-0">
  
  <mat-card-title class="">
      <div class="card-title-text">{{'Encounter Search' | translate}}</div>
  </mat-card-title>

  <mat-card-content>
    <form [formGroup]="viewModelForm">
      <div class="p-0 default-light-bg rounded">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.1%" fxLayoutAlign="start" >
          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <mat-select formControlName="facilityName" placeholder="{{'Facility' | translate}}">
                  <mat-option value="">
                    {{'All facilities' | translate}}
                  </mat-option>
                  <mat-option *ngFor="let facility of facilityList" [value]="facility">
                      {{facility}}
                  </mat-option>
              </mat-select>
              <mat-error>
                {{'This is a required field' | translate}}
              </mat-error>            
            </mat-form-field>
          </div>
  
          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <input matInput formControlName="patientId" placeholder="{{'Patient ID' | translate}}" type="number">
            </mat-form-field>
          </div>
  
          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <input matInput formControlName="firstName" placeholder="{{'First name' | translate}}">
              <mat-hint>{{'Maximum length' | translate}} 30</mat-hint>
              <mat-error *ngIf="viewModelForm.get('firstName').hasError('maxlength')">
                {{'Maximum length exceeded' | translate}}
              </mat-error>            
              <mat-error *ngIf="viewModelForm.get('firstName').hasError('pattern')">
                {{'Value contains invalid characters' | translate}} (A-Z, a-z, space, apostrophe)
              </mat-error>            
            </mat-form-field>
          </div>
  
          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <input matInput formControlName="lastName" placeholder="{{'Last name' | translate}}">
              <mat-hint>{{'Maximum length' | translate}} 30</mat-hint>
              <mat-error *ngIf="viewModelForm.get('lastName').hasError('maxlength')">
                {{'Maximum length exceeded' | translate}}
              </mat-error>            
              <mat-error *ngIf="viewModelForm.get('lastName').hasError('pattern')">
                {{'Value contains invalid characters' | translate}} (A-Z, a-z, space, apostrophe)
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.1%" fxLayoutAlign="start">
          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <mat-select formControlName="criteriaId" placeholder="{{'Criteria' | translate}}">
                  <mat-option value="1" aria-selected="true">{{'All encounters' | translate}}</mat-option>
                  <mat-option value="2">{{'All appointments' | translate}}</mat-option>
                  <mat-option value="3">{{'Appointments with missed encounter' | translate}}</mat-option>
                  <mat-option value="4">{{'Appointments with did not arrive status' | translate}}</mat-option>
                  <mat-option value="5">{{'Appointments with encounter' | translate}}</mat-option>
                </mat-select>                        
            </mat-form-field>
          </div>

          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <input matInput formControlName="searchFrom" placeholder="{{'Search from' | translate}}" [matDatepicker]="searchFromDatepicker">
              <mat-datepicker-toggle matSuffix [for]="searchFromDatepicker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #searchFromDatepicker></mat-datepicker>
          </div>

          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <input matInput formControlName="searchTo" placeholder="{{'Search to' | translate}}" [matDatepicker]="searchToDatepicker">
              <mat-datepicker-toggle matSuffix [for]="searchToDatepicker"></mat-datepicker-toggle>
            </mat-form-field>
            <mat-datepicker #searchToDatepicker></mat-datepicker>
          </div>

          <div fxFlex="19" class="pr-1">
            <mat-form-field class="p-8 full-width">
              <mat-select formControlName="customAttributeId" placeholder="{{'Custom attribute' | translate}}">
                <mat-option value="0">
                </mat-option>
                <mat-option *ngFor="let customAttribute of customAttributeList" [value]="customAttribute.id">
                  {{customAttribute.attributeKey}}
                </mat-option>
              </mat-select>                        
            </mat-form-field>
          </div>

          <div fxFlex="19" class="pr-1" *ngIf="viewModelForm.get('customAttributeId').value > 0">
            <mat-form-field class="p-8 full-width">
              <input matInput formControlName="customAttributeValue" placeholder="{{'Search value' | translate}}">
              <mat-error *ngIf="viewModelForm.get('customAttributeValue').hasError('maxlength')">
                {{'Maximum length exceeded' | translate}}
              </mat-error>            
              <mat-error *ngIf="viewModelForm.get('customAttributeValue').hasError('pattern')">
                {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space, apostrophe)
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout="row" fxLayout.xs="column" fxLayoutGap="10" fxLayoutAlign="end" class="p-8">
          <button mat-raised-button color="primary" (click)="loadGrid()" [disabled]="viewModelForm.invalid">{{'Search' | translate}}</button>
        </div>
      </div>

    </form>

    <div class="ml-05 mr-05 mt-05 pb-1" *ngIf="viewModelForm.value.criteriaId == '1'">
      <div class="table-container">
        <mat-table [dataSource]="viewModel?.mainGrid?.records"
                    [@animate]="{value:'50'}">

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.id}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="first-name">
                <mat-header-cell *matHeaderCellDef>{{'First name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.patient?.firstName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="last-name">
                <mat-header-cell *matHeaderCellDef>{{'Last name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.patient?.lastName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="facility">
                <mat-header-cell *matHeaderCellDef>{{'Facility name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.patient?.facilityName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="encounter-type">
                <mat-header-cell *matHeaderCellDef>{{'Encounter type' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.encounterType}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="encounter-date">
                <mat-header-cell *matHeaderCellDef>{{'Encounter date' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.encounterDate | date:'yyyy-MM-dd'}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  {{'Actions' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <button mat-icon-button color="primary" matTooltip="{{'View Encounter' | translate}}"
                            (click)="encounterDetail(record.patient?.id, record.id)">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="viewModel?.mainGrid?.displayedColumns; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let record; columns: viewModel?.mainGrid?.displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <mat-paginator #mainGridPaginator="matPaginator" [length]="viewModel?.mainGrid?.count"
                    [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>
    </div>

    <div class="ml-05 mr-05 mt-05 pb-1" *ngIf="viewModelForm.value.criteriaId != '1'">
      <div class="table-container">
        <mat-table [dataSource]="viewModel?.appointmentGrid?.records"
                    [@animate]="{value:'50'}">

            <ng-container matColumnDef="id">
                <mat-header-cell *matHeaderCellDef>Id</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.id}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="first-name">
                <mat-header-cell *matHeaderCellDef>{{'First name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.firstName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="last-name">
                <mat-header-cell *matHeaderCellDef>{{'Last name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.lastName}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="facility">
                <mat-header-cell *matHeaderCellDef>{{'Facility name' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.currentFacility}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="appointment-date">
                <mat-header-cell *matHeaderCellDef>{{'Appointment date' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.appointmentDate | date:'yyyy-MM-dd'}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="appointment-status">
                <mat-header-cell *matHeaderCellDef>{{'Status' | translate}}</mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <p>{{record.appointmentStatus}}</p>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="actions">
                <mat-header-cell *matHeaderCellDef>
                  {{'Actions' | translate}}
                </mat-header-cell>
                <mat-cell *matCellDef="let record">
                    <button mat-icon-button color="primary" matTooltip="{{'View encounter' | translate}}"
                            (click)="encounterDetail(record.patientId, record.encounterId)" *ngIf="record.appointmentStatus == 'Appointment met'">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="primary" matTooltip="{{'View patient' | translate}}"
                            (click)="patientDetail(record.patientId)" *ngIf="record.appointmentStatus == 'Appointment' || record.appointmentStatus == 'MISSED'">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" matTooltip="{{'Did not arrive' | translate}}"
                            (click)="openDnaPopUp(record)" *ngIf="record.appointmentStatus == 'MISSED'">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="viewModel?.appointmentGrid?.displayedColumns; sticky:true"></mat-header-row>
            <mat-row *matRowDef="let record; columns: viewModel?.appointmentGrid?.displayedColumns;"></mat-row>
        </mat-table>
      </div>

      <mat-paginator #mainGridPaginator="matPaginator" [length]="viewModel?.appointmentGrid?.count"
                    [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 25, 50]">
      </mat-paginator>
    </div>

  </mat-card-content>
</mat-card>

