// Columns widths
mat-column {
  word-wrap: break-word !important;
  white-space: unset !important;
  overflow-wrap: break-word;
  word-wrap: break-word;

  word-break: break-word;

  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.mat-column-actions {
  flex: 0 0 15% !important;
  width: 15% !important;
}

.mat-column-medication {
  flex: 0 0 50% !important;
  width: 50% !important;
}

.form-wrap {
  margin:5px; 
  padding:5px; 
  height: 100%; 
  overflow: auto; 
}
