<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-1">
          <mat-form-field class="full-width" appearance="fill">
            <mat-label>{{'Contact type' | translate }}</mat-label>
            <input matInput formControlName="contactType" readonly>
          </mat-form-field>        
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
          <mat-select formControlName="organisationType" placeholder="{{'Organisation type' | translate}}" required>
            <mat-option value="PharmaceuticalCompany">Pharmaceutical Company</mat-option>
            <mat-option value="RegulatoryAuthority">Regulatory Authority</mat-option>
            <mat-option value="Healthprofessional">Health professional</mat-option>
            <mat-option value="RegionalPharmacovigilanceCenter">Regional Pharmacovigilance Center</mat-option>
            <mat-option value="WHOCollaboratingCenterForInternationalDrugMonitoring">WHO Collaborating Center for International Drug Monitoring</mat-option>
            <mat-option value="Other">Other</mat-option>
          </mat-select>               
          <mat-error *ngIf="itemForm.get('organisationType').hasError('required')">
            {{'This is a required field' | translate}}
          </mat-error>
        </mat-form-field>
      </div>      

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="organisationName" placeholder="{{'Organisation name' | translate }}" required>
            <mat-error *ngIf="itemForm.get('organisationName').hasError('required')">
              {{'This is a required field' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('organisationName').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('organisationName').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space)
            </mat-error>            
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="departmentName" placeholder="{{'Department name' | translate }}" required>
            <mat-error *ngIf="itemForm.get('departmentName').hasError('required')">
              {{'This is a required field' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('departmentName').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('departmentName').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space)
            </mat-error>            
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="contactFirstName" placeholder="{{'Contact first name' | translate }}" required>
            <mat-error *ngIf="itemForm.get('contactFirstName').hasError('required')">
              {{'This is a required field' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('contactFirstName').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('contactFirstName').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, space)
            </mat-error>              
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="contactLastName" placeholder="{{'Contact last name' | translate }}" required>
            <mat-error *ngIf="itemForm.get('contactLastName').hasError('required')">
              {{'This is a required field' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('contactLastName').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('contactLastName').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, space)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="streetAddress" placeholder="{{'Street address' | translate }}" required>
            <mat-error *ngIf="itemForm.get('streetAddress').hasError('required')">
              {{'This is a required field' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('streetAddress').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('streetAddress').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space, comma)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="city" placeholder="{{'City' | translate }}" required>
            <mat-error *ngIf="itemForm.get('city').hasError('required')">
              {{'This is a required field' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('city').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('city').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, space)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="state" placeholder="{{'State' | translate }}">
            <mat-error *ngIf="itemForm.get('state').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('state').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, space)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="countryCode" placeholder="{{'Country code' | translate }}">
            <mat-error *ngIf="itemForm.get('state').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('countryCode').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (0-9)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="postCode" placeholder="{{'Post code' | translate }}">
            <mat-error *ngIf="itemForm.get('state').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('postCode').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="contactNumber" placeholder="{{'Contact number' | translate }}">
            <mat-error *ngIf="itemForm.get('state').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('contactNumber').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (0-9, hyphen)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="full-width">
            <input matInput formControlName="contactEmail" placeholder="{{'Contact email' | translate }}">
            <mat-error *ngIf="itemForm.get('state').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('contactEmail').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, hyphen, @, period, underscore)
            </mat-error>             
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>