<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="viewModelForm">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="card-title-text light-mat-gray p-24 mb-24 rounded">
        {{"L_TEXT_4" | translate }}
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-tab-group>
          <mat-tab label="{{'Basic Information' | translate}}">
            <mat-card-content class="m-1" style="height: 400px;">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start">
                <div fxFlex="100" class="mt-12">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="sourceDescription" placeholder="{{'Condition description (As stated by patient or reporter)' | translate }}" required>
                      <mat-hint>{{'Maximum length' | translate}} 200</mat-hint> 
                      <mat-error *ngIf="viewModelForm.get('sourceDescription').hasError('required')">
                        {{'This is a required field' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('sourceDescription').hasError('maxlength')">
                        {{'Maximum length exceeded' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('sourceDescription').hasError('pattern')">
                        {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, hyphen, space, period, comma, parentheses, apostrophe)
                      </mat-error>            
                  </mat-form-field>        
                </div>
                <div fxFlex="100" class="mt-12">
                  <mat-form-field class="full-width" appearance='fill'>
                      <input matInput formControlName="medDraTerm" placeholder="{{'MedDra term' | translate }}" required readonly>
                  </mat-form-field>
                </div>
                <div fxFlex="100" class="mt-12" fxLayoutAlign="end" *ngIf="data.conditionId == 0">
                  <button mat-mini-fab (click)="openMeddraPopup()"><mat-icon>search</mat-icon></button>
                </div>

                <div fxFlex="50" class="pr-1 mt-12">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="startDate" placeholder="{{'Start date' | translate}}" [matDatepicker]="startDateDatepicker" required>
                    <mat-datepicker-toggle matSuffix [for]="startDateDatepicker"></mat-datepicker-toggle>
                    <mat-error *ngIf="viewModelForm.get('startDate').hasError('required')">
                      {{'This is a required field' | translate}}
                    </mat-error>            
                  </mat-form-field>
                  <mat-datepicker #startDateDatepicker></mat-datepicker>
                </div>
                <div fxFlex="50" class="pr-1 mt-12">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="outcomeDate" placeholder="{{'Outcome date' | translate}}" [matDatepicker]="outcomeDateDatepicker">
                    <mat-datepicker-toggle matSuffix [for]="outcomeDateDatepicker"></mat-datepicker-toggle>
                  </mat-form-field>
                  <mat-datepicker #outcomeDateDatepicker></mat-datepicker>
                </div>
                <div fxFlex="50" class="pr-1 mt-12">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="outcome" placeholder="{{'Outcome' | translate}}">
                      <mat-option value=""></mat-option>
                      <mat-option *ngFor="let outcome of outcomeList" [value]="outcome.outcomeName">
                          {{outcome.outcomeName | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>
                <div fxFlex="50" class="pr-1 mt-12">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="treatmentOutcome" placeholder="{{'Treatment outcome' | translate}}">
                      <mat-option value=""></mat-option>
                      <mat-option *ngFor="let treatmentOutcome of treatmentOutcomeList" [value]="treatmentOutcome.treatmentOutcomeName">
                          {{treatmentOutcome.treatmentOutcomeName | translate}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div>

                <div fxFlex="100" class="card-title-text mat-bg-warn p-24 mb-24" *ngIf="viewModelForm.get('outcome')?.value == 'Fatal'">
                  {{"L_TEXT_5" | translate }}
                </div>

                <div fxFlex="50" class="pr-1 mt-12">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="caseNumber" placeholder="{{'Case number' | translate }}" required>
                      <mat-error *ngIf="viewModelForm.get('caseNumber').hasError('required')">
                        {{'This is a required field' | translate}}
                      </mat-error>
                      <mat-error *ngIf="viewModelForm.get('caseNumber').hasError('maxlength')">
                        {{'Maximum length exceeded' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('caseNumber').hasError('pattern')">
                        {{'Value contains invalid characters' | translate}} (Enter A-Z, a-z, 0-9, hyphen, space, period, parentheses)
                      </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="100" class="mt-12">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="comments" placeholder="{{'Comments' | translate }}">
                    <mat-error *ngIf="viewModelForm.get('comments').hasError('maxlength')">
                      {{'Maximum length exceeded' | translate}}
                    </mat-error>            
                    <mat-error *ngIf="viewModelForm.get('comments').hasError('pattern')">
                      {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space, apostrophe, period)
                    </mat-error>            
                  </mat-form-field>        
                </div>
              </div>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="{{'Detail Information' | translate}}">
            <mat-card-content class="m-1" style="height: 400px;">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start" formGroupName="attributes">
                <div fxFlex="100" class="mt-12" *ngFor="let attribute of customAttributeList">
                  <mat-form-field class="full-width" *ngIf="attribute.customAttributeType == 'String'">
                    <input matInput formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" [required]="attribute.required">
                  </mat-form-field>
                  <mat-form-field class="full-width" *ngIf="attribute.customAttributeType == 'Numeric'">
                    <input matInput formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" type="number" [required]="attribute.required">
                    <mat-hint *ngIf="attribute.numericMinValue != null && attribute.numericMaxValue != null">
                      {{'Valid between ' | translate}} {{attribute.numericMinValue}} {{'and ' | translate}} {{attribute.numericMaxValue}}
                    </mat-hint>
                  </mat-form-field>        
                  <span *ngIf="attribute.customAttributeType == 'DateTime'">
                    <mat-form-field class="full-width">
                      <input matInput formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" [matDatepicker]="datepicker" [required]="attribute.required">
                      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    </mat-form-field>        
                    <mat-datepicker #datepicker startView="multi-year"></mat-datepicker>
                  </span>
                  <mat-form-field class="full-width" *ngIf="attribute.customAttributeType == 'Selection'">
                    <mat-select formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" [required]="attribute.required">
                      <mat-option *ngFor="let item of attribute.selectionDataItems" value="{{item.selectionKey}}">
                        {{item.value | translate}}
                      </mat-option>
                    </mat-select>                        
                  </mat-form-field>                
                </div>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="viewModelForm.invalid" (click)="submit()">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>
