<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="p-8 full-width">
          <input type="text" placeholder="{{'Condition' | translate}}" aria-label="Number" matInput formControlName="condition" [matAutocomplete]="autoCondition" required>
          <mat-autocomplete #autoCondition="matAutocomplete">
              <mat-option value="Diabetes">Diabetes</mat-option>
              <mat-option value="Cardiovascular disease">Cardiovascular disease</mat-option>
              <mat-option value="Hepatitis B Co infection">Hepatitis B Co infection</mat-option>
              <mat-option value="Hepatitis C Co infection">Hepatitis C Co infection</mat-option>
              <mat-option value="Hepatic insufficiency">Hepatic insufficiency</mat-option>
              <mat-option value="Renal insufficiency (acute or chronic)">Renal insufficiency (acute or chronic)</mat-option>
              <mat-option value="DS Tuberculosis (TB)">DS Tuberculosis (TB)</mat-option>
              <mat-option value="MDR - TB">MDR - TB</mat-option>
              <mat-option value="Mental disorder ">Mental disorder</mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="itemForm.get('condition').hasError('required')">
            {{'This is a required field' | translate}}
          </mat-error>            
        </mat-form-field>              
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="p-8 full-width">
          <mat-select formControlName="conditionStatus" placeholder="{{'Condition status' | translate}}" required>
            <mat-option value=""></mat-option>
            <mat-option value="Cured">  
              {{'Cured' | translate}}
            </mat-option>
            <mat-option value="Continues">
              {{'Continues' | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="itemForm.get('conditionStatus').hasError('required')">
            {{'This is a required field' | translate}}
          </mat-error>            
        </mat-form-field>
      </div>

      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>