.flex-container {
  /* We first create a flex layout context */
  display: flex;
  
  /* Then we define the flow direction 
     and if we allow the items to wrap 
   * Remember this is the same as:
   * flex-direction: row;
   * flex-wrap: wrap;
   */
  flex-flow: row wrap;
  
  padding: 0;
  margin: 0;
  list-style: none;
}

.flex-item {
  width: 560px;
  max-width: 560px;
}