<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="50" class="pr-1">
          <mat-form-field class="p-8 full-width">
              <input matInput formControlName="appointmentDate" [min]="minDate" [max]="maxDate" placeholder="{{'Appointment date' | translate }}" [matDatepicker]="appDatepicker" required>
              <mat-datepicker-toggle matSuffix [for]="appDatepicker"></mat-datepicker-toggle>
              <mat-error *ngIf="itemForm.get('appointmentDate').hasError('required')">
                {{'This is a required field' | translate}}
              </mat-error>            
          </mat-form-field>
          <mat-datepicker #appDatepicker></mat-datepicker>
      </div>

      <div fxFlex="100" class="pr-1">
          <mat-form-field class="p-8 full-width">
              <input matInput formControlName="reason" placeholder="{{'Reason' | translate }}" required>
              <mat-hint>{{'Maximum length' | translate}} 250</mat-hint>
              <mat-error *ngIf="itemForm.get('reason').hasError('required')">
                {{'This is a required field' | translate}}
              </mat-error>            
              <mat-error *ngIf="itemForm.get('reason').hasError('maxlength')">
                {{'Maximum length exceeded' | translate}}
              </mat-error>            
              <mat-error *ngIf="itemForm.get('reason').hasError('pattern')">
                {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space)
              </mat-error>            
          </mat-form-field>        
      </div>

      <div fxFlex="50" class="pr-1" *ngIf="data.appointmentId > 0">
        <mat-form-field class="p-8 full-width">
          <mat-select formControlName="cancelled" placeholder="{{'Cancel' | translate}}" required>
            <mat-option value="Yes">{{'Yes' | translate}}</mat-option>
            <mat-option value="No">{{'No' | translate}}</mat-option>
          </mat-select>               
        </mat-form-field>       
      </div>

      <div fxFlex="100" class="pr-1" *ngIf="data.appointmentId > 0 && itemForm.get('cancelled').value == 'Yes'">
        <mat-form-field class="p-8 full-width">
            <input matInput formControlName="cancellationReason" placeholder="{{'Cancellation reason' | translate }}">
            <mat-hint>{{'Maximum length' | translate}} 250</mat-hint>
            <mat-error *ngIf="itemForm.get('cancellationReason').hasError('maxlength')">
              {{'Maximum length exceeded' | translate}}
            </mat-error>            
            <mat-error *ngIf="itemForm.get('cancellationReason').hasError('pattern')">
              {{'Value contains invalid characters' | translate}} (A-Z, a-z, 0-9, space)
            </mat-error>            
        </mat-form-field>        
      </div>

      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>