<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="viewModelForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-1">
        <mat-tab-group>
          <mat-tab label="{{'Basic Information' | translate}}">
            <mat-card-content class="m-1 p-5" style="height: 450px;">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start">
                <div fxFlex="50" class="pr-1 mt-24">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="firstName" placeholder="{{'First name' | translate }}" required>
                      <mat-hint>{{'Maximum length' | translate}} 30</mat-hint> 
                      <mat-error *ngIf="viewModelForm.get('firstName').hasError('required')">
                        {{'This is a required field' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('firstName').hasError('maxlength')">
                        {{'Maximum length exceeded' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('firstName').hasError('pattern')">
                        {{'Value contains invalid characters' | translate}} (A-Z, a-z, space, apostrophe)
                      </mat-error>            
                  </mat-form-field>        
                </div>
                <div fxFlex="50" class="pr-1 mt-24">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="lastName" placeholder="{{'Last name' | translate }}" required>
                      <mat-hint>{{'Maximum length' | translate}} 30</mat-hint> 
                      <mat-error *ngIf="viewModelForm.get('lastName').hasError('required')">
                        {{'This is a required field' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('lastName').hasError('maxlength')">
                        {{'Maximum length exceeded' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('lastName').hasError('pattern')">
                        {{'Value contains invalid characters' | translate}} (A-Z, a-z, space, apostrophe)
                      </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" class="pr-1 mt-24">
                  <mat-form-field class="full-width">
                      <input matInput formControlName="middleName" placeholder="{{'Middle name' | translate }}">
                      <mat-hint>{{'Maximum length' | translate}} 30</mat-hint> 
                      <mat-error *ngIf="viewModelForm.get('middleName').hasError('maxlength')">
                        {{'Maximum length exceeded' | translate}}
                      </mat-error>            
                      <mat-error *ngIf="viewModelForm.get('middleName').hasError('pattern')">
                        {{'Value contains invalid characters' | translate}} (A-Z, a-z, space, apostrophe)
                      </mat-error>
                  </mat-form-field>
                </div>
                <div fxFlex="50" class="pr-1 mt-24">
                  <mat-form-field class="full-width">
                    <input matInput formControlName="dateOfBirth" placeholder="{{'Date of birth' | translate}}" [matDatepicker]="birthDateDatepicker" required>
                    <mat-datepicker-toggle matSuffix [for]="birthDateDatepicker"></mat-datepicker-toggle>
                  </mat-form-field>
                  <mat-datepicker #birthDateDatepicker startView="multi-year"></mat-datepicker>
                </div>
                <div fxFlex="50" class="pr-1 mt-24">
                  <mat-form-field class="full-width">
                    <mat-select formControlName="facilityName" placeholder="{{'Facility' | translate}}" required>
                        <mat-option *ngFor="let facility of facilityList" [value]="facility">
                            {{facility}}
                        </mat-option>
                    </mat-select>
                    <mat-error>
                      {{'This is a required field' | translate}}
                    </mat-error>            
                  </mat-form-field>
                </div>
              </div>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="{{'Detail Information' | translate}}">
            <mat-card-content class="m-1 p-5" style="height: 450px;">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start" formGroupName="attributes">
                <div fxFlex="50" class="pr-1 mt-24" *ngFor="let attribute of customAttributeList">
                  <mat-form-field class="full-width" *ngIf="attribute.customAttributeType == 'String'">
                    <input matInput formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" [required]="attribute.required">
                    <mat-hint *ngIf="attribute.stringMaxLength != null">
                      {{'Maximum length' | translate}} {{attribute.stringMaxLength}}
                    </mat-hint>
                  </mat-form-field>
                  <mat-form-field class="full-width" *ngIf="attribute.customAttributeType == 'Numeric'">
                    <input matInput formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" type="number" [required]="attribute.required">
                    <mat-hint *ngIf="attribute.numericMinValue != null && attribute.numericMaxValue != null">
                      {{'Valid between ' | translate}} {{attribute.numericMinValue}} {{'and ' | translate}} {{attribute.numericMaxValue}}
                    </mat-hint>
                  </mat-form-field>        
                  <span *ngIf="attribute.customAttributeType == 'DateTime'">
                    <mat-form-field class="full-width">
                      <input matInput formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" [matDatepicker]="datepicker" [required]="attribute.required">
                      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
                    </mat-form-field>        
                    <mat-datepicker #datepicker startView="multi-year"></mat-datepicker>
                  </span>
                  <mat-form-field class="full-width" *ngIf="attribute.customAttributeType == 'Selection'">
                    <mat-select formControlName="{{attribute.id}}" placeholder="{{attribute.attributeKey | translate}}" [required]="attribute.required">
                      <mat-option *ngFor="let item of attribute.selectionDataItems" value="{{item.selectionKey}}">
                        {{item.value | translate}}
                      </mat-option>
                    </mat-select>                        
                  </mat-form-field>                
                </div>
              </div>
            </mat-card-content>
          </mat-tab>
          <mat-tab label="{{'Notes' | translate}}">
            <mat-card-content class="m-1 p-5" style="height: 450px;">
              <div fxLayout="row wrap" fxLayout.lt-sm="column" fxLayoutAlign="start start">
                <div fxFlex="100" class="pr-1">
                  <quill-editor theme="snow" formControlName="notes"></quill-editor>
                </div>
              </div>
            </mat-card-content>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="viewModelForm.invalid">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>
