<div id="error-general" fxLayout="column" fxLayoutAlign="center center">
    <div class="content" fxLayout="column" fxLayoutAlign="center center">

        <div class="error-code">Oops</div>
        <div class="message m-20">Something went wrong...</div>
        <div class="reference m-20">
            Reference Code: <a href="mailto:admin@MSH.co.za?subject=General%20Server%20Error%20(GE-001)&amp;body=Please%20describe%20what%20you%20did%20when%20you%20encoutered%20this%20error.">GE-001</a>
        </div>
        <a class="back-link mt-10" [routerLink]="'/'">Go back to application</a>

    </div>
</div>