<h1 matDialogTitle>{{data.title | translate}}</h1>

<mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

<div fxLayout="row wrap" fxLayout.lt-sm="column">
  <div fxFlex="100" class="pr-1">
    <webcam [height]="700" [width]="670" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
  </div>

  <div fxFlex="100" class="mt-1">
    <button mat-raised-button color="primary" (click)="this.saveImage();">{{"Save Image" | translate }}</button>
    <span fxFlex></span>
    <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
  </div>
</div>

<h4 *ngIf="errors.length > 0">Messages:</h4>
<ul *ngFor="let error of errors">
<li>{{error | json}}</li>
</ul>