<h1 matDialogTitle>{{data.title | translate}}</h1>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isBusy()"></mat-progress-bar>

  <form [formGroup]="itemForm" (ngSubmit)="submit()">
    <div fxLayout="row wrap" fxLayout.lt-sm="column">
      <div fxFlex="100" class="pr-1">
        <mat-form-field class="p-8 full-width">
          <input type="text" placeholder="{{'Condition' | translate}}" aria-label="Number" matInput formControlName="condition" [matAutocomplete]="autoCondition">
          <mat-autocomplete #autoCondition="matAutocomplete">
            <mat-option value="Diabetes">Diabetes</mat-option>
            <mat-option value="Distúrbios Mentais">Distúrbios Mentais</mat-option>
            <mat-option value="Tuberculose">Tuberculose</mat-option>
          </mat-autocomplete>
          <mat-error *ngIf="itemForm.get('condition').hasError('required')">
            {{'This is a required field' | translate}}
          </mat-error>            
        </mat-form-field>              
      </div>

      <div fxFlex="100" class="pr-1">
        <mat-form-field class="p-8 full-width">
          <mat-select formControlName="conditionStatus" placeholder="{{'Condition status' | translate}}">
            <mat-option value=""></mat-option>
            <mat-option value="Worsened">  
              {{'Worsened' | translate}}
            </mat-option>
            <mat-option value="Resurfaced">
              {{'Resurfaced' | translate}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="itemForm.get('conditionStatus').hasError('required')">
            {{'This is a required field' | translate}}
          </mat-error>            
        </mat-form-field>
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="p-8 full-width">
          <input matInput formControlName="conditionStartDate" placeholder="{{'Start date' | translate}}" [matDatepicker]="conStDatepicker">
          <mat-datepicker-toggle matSuffix [for]="conStDatepicker"></mat-datepicker-toggle>
          <mat-error *ngIf="itemForm.get('conditionStartDate').hasError('required')">
            {{'This is a required field' | translate}}
          </mat-error>            
        </mat-form-field>
        <mat-datepicker #conStDatepicker></mat-datepicker>            
      </div>

      <div fxFlex="50" class="pr-1">
        <mat-form-field class="p-8 full-width">
          <input matInput formControlName="conditionEndDate" placeholder="{{'End date' | translate}}" [matDatepicker]="conEdDatepicker">
          <mat-datepicker-toggle matSuffix [for]="conEdDatepicker"></mat-datepicker-toggle>
        </mat-form-field>
        <mat-datepicker #conEdDatepicker></mat-datepicker>            
      </div>

      <div fxFlex="100" class="mt-1">
        <button mat-raised-button color="primary" [disabled]="itemForm.invalid">{{"Save" | translate }}</button>
        <span fxFlex></span>
        <button mat-raised-button color="warn" type="button" (click)="dialogRef.close(false)">{{"Cancel" | translate }}</button>
      </div>
    </div>
  </form>